extends layout


block content
 h1= title

  - let zodiacid = toShow._id
  - let zodiac_name = toShow.zodiac_name
  - let zodiac_meaning = toShow.zodiac_meaning
  - let lucky_number = toShow.lucky_number
 div
  div.row
   div(class='zodiacAttr mr-3') Zodiac ID is:
   div #{zodiacid}
  div.row
   div(class='zodiacAttr mr-3') Zodiac Name is:
   div #{zodiac_name}
  div.row
   div(class='zodiacAttr mr-3') Zodiac Meaning  is:
   div #{zodiac_meaning}
  div.row
   div(class='zodiacAttr mr-3') Zodiac Lucky Number is:
   div #{lucky_number}
  br
  h3() Quick access links to view or make changes
  br
  button(class="btn btn-danger m-2" onclick=`window.open('/zodiacs/delete/?id=${zodiacid}', '_blank')`) Delete Item
  button(class="btn btn-warning m-2" onclick=`window.open('/zodiacs/update/?id=${zodiacid}', '_blank')`) Update Item
  button(class="btn btn-success m-2" onclick="window.open('/zodiacs/create', '_blank');") Create new Item
  button(class="btn btn-info m-2" onclick="window.open('/zodiacs', '_blank');") Home Page
 